<label for="name">Név:</label>
<input type="text" id="name" name="name" value="<%=  driver.name %>">

<label for="role">Szerep:</label>
<input type="text" id="role" name="role" value="<%=  driver.role %>">

<label for="wins">Győzelmek:</label>
<input type="number" id="wins" name="wins" value="<%=  driver.wins %>" min="0">
