<label for="name">Név:</label>
<input type="text" id="name" name="name" value="<%=  '' %>">

<label for="role">Szerep:</label>
<input type="text" id="role" name="role" value="<%=  '' %>">

<label for="wins">Győzelmek:</label>
<input type="number" id="wins" name="wins" value="<%=  0 %>" min="0">
