<label for="teamName">Csapatnév:</label>
<input type="text" id="teamName" name="teamName" value="<%= team.name %>">

<label for="teamPrincipal">Csapatvezető:</label>
<input type="text" id="teamPrincipal" name="teamPrincipal" value="<%= team.principal %>">

<label for="championships">Bajnoki címek:</label>
<input type="number" id="championships" name="championships" value="<%=  team.championships %>" min="0">
