<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use an absolute path for CSS -->
    <link rel="stylesheet" href="/index.css">
    <title>F1 Csapatok</title>
</head>
<body>
    <nav class="navbar">
        <h1>Ferrari versenyzők</h1>
        <%- include('partials/newButton', { label: 'Új versenyző', href: '/driver/add/1' }) %>
    </nav>
    
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Szerep</th>
                    <th>Győzelmek</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Charles Leclerc</td>
                    <td>versenyző</td>
                    <td>8</td>
                    <td>
                        <a href="/driver/add/1"><button class="action_button update">Update</button></a>
                        <button class="action_button delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Lewis Hamilton</td>
                    <td>versenyző</td>
                    <td>105</td>
                    <td>
                        <a href="/driver/add/1"><button class="action_button update">Update</button></a>

                        <button class="action_button delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>Zhou Guanyu</td>
                    <td>tartalék</td>
                    <td>0</td>
                    <td>
                        <a href="/driver/add/1"><button class="action_button update">Update</button></a>

                        <button class="action_button delete">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
