

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>F1 Csapatok</title>
</head>
<body>
    <nav class="navbar">
        <h1>F1 csapatok</h1>
        <a href="/team/add/2"><button class="new_button">Új versenyző</button></a>

    </nav>
    
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Csapat vezető</th>
                    <th>Bajnoki címek</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ferrari</td>
                    <td>Fred Vasseur</td>
                    <td>16</td>
                    <td>
                        <a href="/team/add/2"><button class="action_button update">Update</button></a>

                        <button class="action_button delete">Delete</button>
                        <a href="/team/1"><button class="drivers_btn">Drivers</button></a>
                    </td>
                </tr>
                <tr>
                    <td>Mercedes</td>
                    <td>Toto Wolff</td>
                    <td>8</td>
                    <td>
                        <a href="/team/add/2"><button class="action_button update">Update</button></a>

                        <button class="action_button delete">Delete</button>
                        <a href="/team/1"><button class="drivers_btn">Drivers</button></a>

                    </td>
                </tr>
                <tr>
                    <td>McLaren</td>
                    <td>Andrea Stella</td>
                    <td>9</td>
                    <td>
                        <a href="/team/add/2"><button class="action_button update">Update</button></a>

                        <button class="action_button delete">Delete</button>
                        <a href="/team/1"><button class="drivers_btn">Drivers</button></a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
